@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

*, ::before, ::after {
  box-sizing: border-box;
  
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: 'Poppins', system-ui, sans-serif;
  background: white;
  font-display: swap;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}
